
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <div style="margin-top:6rem">
        <MudCarousel Class="mud-width-full" Style="height:400px;width:100%;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
            <MudCarouselItem Transition="transition" Color="@Color.Primary">
                <div class="d-flex" style="height: 100%;">
                    <img src="https://images.unsplash.com/photo-1539036776273-021ec1d78bec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" alt="Mony the dog" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Color="@Color.Secondary">
                <div class="d-flex" style="height: 100%;">
                    <img src="https://images.unsplash.com/photo-1530707114297-4af4b3cafe16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80https://images.unsplash.com/photo-1530707114297-4af4b3cafe16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80" alt="Mony the dog" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition">
                <div class="d-flex" style="height: 100%;">
                    <img src="https://images.unsplash.com/photo-1618249987208-1dca78ad5a47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2671&q=80https://images.unsplash.com/photo-1618249987208-1dca78ad5a47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2671&q=80" alt="Mony the dog" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </MudCarouselItem>

        </MudCarousel>
    </div>
</MudContainer>

